.chat-section {
    display: flex;
    flex-direction: column-reverse;
    height: 70vh;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.username {
    color: dodgerblue;
}

.time {
    color: dodgerblue;
}
