.chat-section {
    display: flex;
    flex-direction: column-reverse;
    height: 70vh;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.username {
    color: dodgerblue;
}

.time {
    color: dodgerblue;
}

@media (max-width: 992px) and (orientation: portrait) {
    h1 {
        font-size: 5rem;
    }
}
