{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Web Chat{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="text-center my-3">
    <h1>Welcome to the <span style="text-decoration: underline;">Web Chat</span>!</h1>
  </div>
  <div class="row">
    <div class="col-sm-0 col-lg-2">

    </div>
    <div class="col-sm-11 col-lg-8 pb-2 border border-dark">
      <div class="chat-section">
        {% for message in messages %}
          <p><span class="username">{{message.sender}}</span> - {{message.message}} - <span class="time">{{ message.time | format_date }}</span></p>
        {% endfor %}
      </div>
      <form action="{{ url_for('send_message', username=username) }}" method="POST">
        {{ form.csrf_token() }}
        {{ render_form(form) }}
      </form>
    </div>
    <div class="col-sm-1 col-lg-2">

    </div>
  </div>
</div>
{% endblock %}
